---

jellyseerr:

  # Configuration common to all instances.
  port: 5055
  protocol: "http"
  settings:
    general:
      enable_proxy_support: false
      enable_csrf_protection: false
      enable_image_caching: false
      display_language: "en"
      discover_region: null
      discover_languages: []
      hide_available_media: false
      allow_partial_series_requests: true
    users:
      enable_local_signin: true
      enable_new_jellyfin_signin: true
      global_movie_request_limit: 0
      global_movie_request_days: 7
      global_series_request_limit: 0
      global_series_request_days: 7
      default_permissions:
        - "request"
        - "request-4k"
        - "create-issues"
        - "view-issues"
    jellyfin:
      server_url: http://jellyfin:8096
      username: '{{ mediastack_jellyseerr_jellyfin_username }}'
      password: '{{ mediastack_jellyseerr_jellyfin_password }}'
      email_address: '{{ mediastack_jellyseerr_jellyfin_email_address }}'
      external_url: '{{ mediastack_jellyseerr_jellyfin_external_url }}'
    notifications:
      email:
{% if mediastack_jellyseerr_email_enable %}
        enable: true
        require_user_email: true
        sender_name: '{{ mediastack_jellyseerr_email_from_name }}'
        sender_address: '{{ mediastack_jellyseerr_email_from_address }}'
        smtp_host: '{{ mediastack_jellyseerr_email_smtp_hostname }}'
        smtp_port: '{{ mediastack_jellyseerr_email_smtp_port }}'
        encryption_method: '{{ mediastack_jellyseerr_email_smtp_protocol }}'
        allow_selfsigned_certificates: false
        smtp_username: '{{ mediastack_jellyseerr_email_smtp_username }}'
        smtp_password: '{{ mediastack_jellyseerr_email_smtp_password }}'
        pgp_private_key: null
        pgp_password: null
{% else %}
        enable: false
{% endif %}
      pushover:
{% if mediastack_jellyseerr_pushover_enable %}
        enable: true
        api_key: '{{ mediastack_jellyseerr_pushover_api_key }}'
        user_key: '{{ mediastack_jellyseerr_pushover_user_key }}'
        notification_types:
          - "media-pending"
          - "media-approved"
          - "media-available"
          - "media-failed"
          - "test-notification"
          - "media-declined"
          - "media-auto-approved"
          - "issue-created"
          - "issue-comment"
          - "issue-resolved"
          - "issue-reopened"
          - "media-auto-requested"
{% else %}
        enable: false
{% endif %}

  # Instance-specific configuration.
  instances:

    # One Jellyseerr instance for requesting all kinds of media.
    jellyseerr:
      api_key: '{{ mediastack_temp_api_keys['jellyseerr'] }}'
      settings:
        jellyfin:
          libraries:
            - "Shows"
            - "Movies"
            - "Anime"
            - "Anime Movies"
        services:
          sonarr:
            delete_unmanaged: true
            definitions:
              "HD/SD Shows":
                is_default_server: true
                is_4k_server: false
                instance_name: "sonarr-hd"
                hostname: "sonarr-hd"
                port: 8989
                use_ssl: false
                external_url: '{{ mediastack_jellyseerr_sonarr_hd_external_url }}'
                root_folder: /data/media/shows/hd
                quality_profile: "HD/SD Shows"
                language_profile: "English"
                tags: []
                anime_root_folder: null
                anime_quality_profile: null
                anime_language_profile: null
                anime_tags: []
                enable_season_folders: true
                enable_scan: true
                enable_automatic_search: true
              "4K Shows":
                is_default_server: true
                is_4k_server: true
                instance_name: "sonarr-4k"
                hostname: "sonarr-4k"
                port: 8989
                use_ssl: false
                external_url: '{{ mediastack_jellyseerr_sonarr_4k_external_url }}'
                root_folder: /data/media/shows/4k
                quality_profile: "4K Shows"
                language_profile: "English"
                tags: []
                anime_root_folder: null
                anime_quality_profile: null
                anime_language_profile: null
                anime_tags: []
                enable_season_folders: true
                enable_scan: true
                enable_automatic_search: true
              "HD/SD Anime Shows":
                is_default_server: false
                is_4k_server: false
                instance_name: "sonarr-anime"
                hostname: "sonarr-anime"
                port: 8989
                use_ssl: false
                external_url: '{{ mediastack_jellyseerr_sonarr_anime_external_url }}'
                root_folder: /data/media/shows/anime
                quality_profile: "HD/SD Anime Shows"
                language_profile: "Anime"
                tags: []
                anime_root_folder: /data/media/shows/anime
                anime_quality_profile: "HD/SD Anime Shows"
                anime_language_profile: "Anime"
                anime_tags: []
                enable_season_folders: true
                enable_scan: true
                enable_automatic_search: true
          radarr:
            delete_unmanaged: true
            definitions:
              "HD/SD Movies":
                is_default_server: true
                is_4k_server: false
                instance_name: "radarr-hd"
                hostname: "radarr-hd"
                port: 7878
                use_ssl: false
                external_url: '{{ mediastack_jellyseerr_radarr_hd_external_url }}'
                root_folder: /data/media/movies/hd
                quality_profile: "HD/SD Movies"
                minimum_availability: "released"
                tags: []
                enable_scan: true
                enable_automatic_search: true
              "4K Movies":
                is_default_server: true
                is_4k_server: true
                instance_name: "radarr-4k"
                hostname: "radarr-4k"
                port: 7878
                use_ssl: false
                external_url: '{{ mediastack_jellyseerr_radarr_4k_external_url }}'
                root_folder: /data/media/movies/4k
                quality_profile: "4K Movies"
                minimum_availability: "released"
                tags: []
                enable_scan: true
                enable_automatic_search: true
              "HD/SD Anime Movies":
                is_default_server: false
                is_4k_server: false
                instance_name: "radarr-anime"
                hostname: "radarr-anime"
                port: 7878
                use_ssl: false
                external_url: '{{ mediastack_jellyseerr_radarr_anime_external_url }}'
                root_folder: /data/media/movies/anime
                quality_profile: "HD/SD Anime Movies"
                minimum_availability: "released"
                tags: []
                enable_scan: true
                enable_automatic_search: true
