---

version: "3.7"

services:
  prowlarr:
    image: '{{ mediastack_prowlarr_image_uri }}:{{ mediastack_prowlarr_image_tag }}'
    container_name: prowlarr
    restart: always
    environment:
      TZ: '{{ mediastack_timezone }}'
      PUID: '{{ mediastack_user_uid }}'
      PGID: '{{ mediastack_user_gid }}'
    volumes:
      - type: bind
        source: ./config
        target: /config
        read_only: false
      - type: bind
        source: '{{ mediastack_data_dir }}/torrents'
        target: /data/torrents
        read_only: false
      - type: bind
        source: '{{ mediastack_data_dir }}/media'
        target: /data/media
        read_only: false
      - type: bind
        source: '{{ mediastack_data_dir }}/videos'
        target: /data/videos
        read_only: false
    ports:
      - 127.0.0.1:{{ mediastack_prowlarr_host_port }}:9696
    networks:
      - '{{ mediastack_network_name }}'
{% for network in mediastack_service_networks %}
{% if 'prowlarr' in (network.services | default([])) %}
      - '{{ network.name }}'
{% endif %}
{% endfor %}

networks:
  '{{ mediastack_network_name }}':
    name: '{{ mediastack_network_name }}'
    external: true
{% for network in mediastack_service_networks %}
  '{{ network.name }}':
    name: '{{ network.name }}'
    external: true
{% endfor %}
